# Packages
node_modules/
bower_components/

# Builded project
build/
dest/
dist/
*-win32-x64

# IDE's
.vscode/
.idea/

# System files
.DS_Store

# NPM debug log
npm-debug*

# Archives
*.7z
*.zip
*.rar

# Other
examples/
