# Logs
logs
*.log
npm-debug.log*

# Optional REPL history
.node_repl_history

# Packages
node_modules/
bower_components/

# Bundled project
build/
dest/
dist/
www/

# Electron project builds
*-win32-x64/

# IDE's
.vscode/
.idea/

# System files
.DS_Store

# Archives
*.7z
*.zip
*.rar
*.tar
*.tar.*

# Other
examples/
