.rotate-right-45 {
  transform: rotate(45deg);
}

.rotate-left-45 {
  transform: rotate(-45deg);
}

/* Overrides Skeleton container styles */
.container {
  width: 100%;
  max-width: 100%;
}

html {
  overflow: hidden;
}

.sidebar {
  background: transparent;
}
