* {
  margin: 0;
  padding: 0;
}

.rotate-right-45 {
  transform: rotate(45deg);
}

.rotate-left-45 {
  transform: rotate(-45deg);
}

/* Overrides Skeleton container styles */
.container {
  width: 100%;
  max-width: 100%;
}

html {
  overflow: hidden;
}

.sidebar {
  position: fixed;
  left: 5px;
  top: 5px;
  height: 100%;
  width: 17.5%;
  overflow-y: scroll;
  overflow-x: hidden;
}
