html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

button, input {
  width: 100%;
}

.sidebar-container {
  position: fixed;
  left: 5px;
  top: 5px;
}

.sidebar {
  position: fixed;
  left: 5px;
  top: 30px;
  height: calc(100% - 30px);
  width: 17.5%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.rotate-right-45 {
  transform: rotate(45deg);
}

.rotate-left-45 {
  transform: rotate(-45deg);
}

.center {
  text-align: center !important;
}
