<div class="row">
  <div class="four columns">
    <a href=""
        ng-mousedown="$ctrl.startMoving('upLeft')"
        ng-mouseup="$ctrl.stopMoving()"
        ng-mouseleave="$ctrl.stopMoving()">
      <span class="fa fa-arrow-up rotate-left-45"></span>
    </a>
  </div>
  <div class="four columns">
    <a href=""
        ng-mousedown="$ctrl.startMoving('up')"
        ng-mouseup="$ctrl.stopMoving()"
        ng-mouseleave="$ctrl.stopMoving()">
      <span class="fa fa-arrow-up"></span>
    </a>
  </div>
  <div class="four columns">
    <a href=""
        ng-mousedown="$ctrl.startMoving('upRight')"
        ng-mouseup="$ctrl.stopMoving()"
        ng-mouseleave="$ctrl.stopMoving()">
      <span class="fa fa-arrow-up rotate-right-45"></span>
    </a>
  </div>
</div>

<div class="row">
  <div class="four columns">
    <a href=""
        ng-mousedown="$ctrl.startMoving('left')"
        ng-mouseup="$ctrl.stopMoving()"
        ng-mouseleave="$ctrl.stopMoving()">
      <span class="fa fa-arrow-left"></span>
    </a>
  </div>
  <div class="four columns">
    <span class="fa fa-cog"></span>
  </div>
  <div class="four columns">
    <a href=""
        ng-mousedown="$ctrl.startMoving('right')"
        ng-mouseup="$ctrl.stopMoving()"
        ng-mouseleave="$ctrl.stopMoving()">
      <span class="fa fa-arrow-right"></span>
    </a>
  </div>
</div>

<div class="row">
  <div class="four columns">
    <a href=""
        ng-mousedown="$ctrl.startMoving('downLeft')"
        ng-mouseup="$ctrl.stopMoving()"
        ng-mouseleave="$ctrl.stopMoving()">
      <span class="fa fa-arrow-down rotate-right-45"></span>
    </a>
  </div>
  <div class="four columns">
    <a href=""
        ng-mousedown="$ctrl.startMoving('down')"
        ng-mouseup="$ctrl.stopMoving()"
        ng-mouseleave="$ctrl.stopMoving()">
      <span class="fa fa-arrow-down"></span>
    </a>
  </div>
  <div class="four columns">
    <a href=""
        ng-mousedown="$ctrl.startMoving('downRight')"
        ng-mouseup="$ctrl.stopMoving()"
        ng-mouseleave="$ctrl.stopMoving()">
      <span class="fa fa-arrow-down rotate-left-45"></span>
    </a>
  </div>
</div>
